@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-cyan: #00C2CB;
  --color-brand-mint: #7FE0D4;
  --color-brand-yellow: #FFE38A;
  --color-brand-orange: #FF9A76;
  --color-brand-pink: #FF5D8F;
}

@layer base {
  body {
    @apply antialiased text-gray-800 dark:text-gray-100;
    min-height: 100vh;
  }

  .material-symbols-outlined {
    font-family: "Material Symbols Outlined", sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
    font-feature-settings: "liga";
    -webkit-font-feature-settings: "liga";
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }
}

.color1{color:#00C2CB;}
.color2{color:#7FE0D4;}
.color3{color:#FFE38A;}
.color4{color:#FF9A76;}
.color5{color:#FF5D8F;}